{% extends 'base.html.twig' %}

{% block title %}Producten2 index{% endblock %}

{% block body %}
    <h1>Producten2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Productnaam</th>
                <th>Prices</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producten2 in producten2s %}
            <tr>
                <td>{{ producten2.id }}</td>
                <td>{{ producten2.Productnaam }}</td>
                <td>{{ producten2.Prices }}</td>
                <td>
                    <a href="{{ path('producten2_show', {'id': producten2.id}) }}">show</a>
                    <a href="{{ path('producten2_edit', {'id': producten2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producten2_new') }}">Create new</a>
{% endblock %}
